<!DOCTYPE html >
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div th:fragment="logoutmenu">
        <div class="container-fluid bg-dark text-white">
            <div class="row">
                <div class="col">
                    <h5><span id="currentUserName" class="font-weight-bold"></span> with roles: <span id="currentUserRoles"></span>
                    </h5>
                </div>
                <div class="col-1 text-right">
                    <a th:href="@{/logout}" class="text-secondary" th:text="Logout"></a>
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="/logoutFragmentScript.js"></script>
    </div>
</body>
</html>